<h1>Edit <%= @star.performer_name %></h1>


<%= simple_form_for(@star) do |f| %>
  <%= f.input :first_name, label: "Prénom" %>
  <%= f.input :last_name, label: "Nom" %>
  <%= f.input :address, label: "Adresse" %>
  <%= f.input :email_address, label: 'Adresse mail' %>
  <%= f.input :performer_name, label: 'Nom de scène' %>
  <%= f.input :category, label: 'Catégorie' %>
  <%= f.input :decription, label: 'Description' %>
  <%= f.submit "Edit", class: 'btn btn-flat' %>
<% end %>
