<%
=begin %>

<h1 id="titre-star-index">
  Nos presques stars !
</h1>
<div class="index-cards">
  <% @stars.each do |star| %>
    <div class="index-card">
        <h1><strong><%= "#{star.performer_name}" %></strong></h1>
        <h3><%= "#{star.category}" %></h3>
        <%= link_to "#{star.performer_name}", "/stars/#{star.id}" %>
        <div class="pic">
          <% if star.photo.present? %>
            <%= cl_image_tag(star.photo.key,
            :width => 200, :height => 250,
            :crop => :thumb,
            :gravity => :face) %>
          <% end %>
        </div>
    </div>
  <% end %>
</div>
<%
=end %>


  <h1 class="mt-4 ml-4">Nos presques stars</h1>
<div class="super-container-show">
     <section class="cards">
       <% @stars.each do |star| %>
          <a href="<%= star_path(star) %>" class="card">
              <% if star.photo.attached? %>
                <div class="card__image" style="background-image: url('<%= cl_image_path(star.photo.key,
                width: 200, :height => 250,
                crop: :thumb,
                gravity: :face) %>')">
               </div>
              <% else %>
                <div class="card__image" style="background-image: url(https://res.cloudinary.com/pierrelnl/image/upload/v1629467467/0772723_zpnxxm.png
)">
                </div>
              <% end %>
            <div class="card__content">
              <div class="card__title"><%= star.performer_name%></div>
              <div class="card__description">
                 <%= star.category %>
              </div>
            </div>
          </a>
       <% end %>
      </section>
</div>
