<div class="container">
  <div class="card-show-star">
    <h1 id="title"><%= "#{@star.performer_name}" %></h1>
    <div class="pic-show-star">
      <% if @star.photo.present? %>
      <%= cl_image_tag(@star.photo.key, :width => 400, :height => 500,
                      :crop => :thumb, :gravity => :face) %>
      <% end %>
    </div>
    <div class="category-show-star">
      <%= "#{@star.category}" %>
    </div>
    <div class="description-show-star">
      <%= "#{@star.decription}" %>
    </div>
    <div class="show-to-anchor-btn">
      <a href="#booking-anchor">Réservez-moi</a>
    </div>
  </div>
    <span class="text-white">--</span>
    <span id="booking-anchor"></span>
  <div class="booking text-warning">
    <h3>Réserver</h3>
    <%= simple_form_for [@star, @user, @mission] do |f| %>
      <%= f.input :booking, placeholder: 'Date' , label: "Date", as: :date, html5: true %>
      <%= f.input :name, placeholder: "Nom de l'évenement" , label: "Nom de l'évenement" %>
      <%= f.input :address, placeholder: 'Addresse' , label: "Addresse" %>
      <%= f.input :special_request, placeholder: 'mes requêtes', label: "mes requêtes" %>
      <%= f.submit "réservez moi!", class: 'btn btn-flat btn-warning' %>
    <% end %>
  </div>
</div>
