<div class="container">
  <div class="card-show-star">
    <h1 id="title"><%= "#{@star.performer_name}" %></h1>
    <div class="pic-show-star">
      <% if @star.photo.present? %>
      <%= cl_image_tag(@star.photo.key, :width => 400, :height => 500,
                      :crop => :thumb, :gravity => :face) %>
      <% end %>
    </div>
    <div class="fname-show-star">
      <%= @star.first_name %>
    </div>
    <div class="lname-show-star">
      <%= @star.last_name %>
    </div>
    <div class="address-show-star">
      <%= @star.address %>
    </div>
    <div class="email-show-star">
      <%= @star.email_address %>
    </div>
    <div class="category-show-star">
      <%= @star.category %>
    </div>
    <div class="description-show-star">
      <%= @star.decription %>
    </div>
  </div>

  <%= link_to 'Retour', root_path, class:"btn btn-primary"%>
  <%= link_to 'Modifier', edit_star_path, class:"btn btn-warning" %>
  <%= link_to "Supprimer",
    show_star_path(@star.user_id),
    method: :delete,
    data: { confirm: "Etes vous sûr?" }, class:"btn btn-danger" %>
