<h1><%= @star.performer_name %></h1>

<%# <%= "#{@star.description}" %>
<%# <img class="img-thumbnail" src="../../assets/images/photos_sample/cocluche.png" alt=""> %>
<%= @star.photo %>

<%= @star.category %>

<ul class="list-group">
  <% @star.missions.each do |mission| %>
    <li class="list-group-item"><%= link_to mission.special_request, mission_path(mission) %></li>
  <% end %>
</ul>

<h3>Réserver</h3>
<%= simple_form_for [@star, @user, @mission] do |f| %>
  <%= f.input :price, placeholder: 'Price' %>
  <%= f.input :special_request, placeholder: 'Special request' %>
  <%= f.submit class: 'btn btn-flat' %>
<% end %>
