<h1>Edit <%= @mission.special_request %></h1>


<%= simple_form_for(@mission) do |f| %>
  <%= f.input :booking, label: "Date" %>
  <%= f.input :name, label: "Event Name" %>
  <%= f.input :address, label: "Address" %>
  <%= f.input :special_request, label: 'Special request' %>
  <%= f.submit "Edit", class: 'btn btn-flat' %>
<% end %>
